.admin{
    background: linear-gradient(to left, #33ccff 0%, #e5e0f1 70%,#add1ed 100%);
    
    height: 100vh;
    display: flex;
    flex-direction: column;
    
    position: relative;
    overflow: hidden; 
   
}

.message{
    font-size: 50px;
    color: black;
    text-align: center;
   font-weight: 500;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    margin: auto;
    position: absolute;
    animation: 10s linear infinite;
    animation-name: scroll-right1;

}

@keyframes scroll-right1{
   0%   {color:rgb(59, 6, 84);}
  20%  {color:rgb(186, 48, 221);}
  40%  {color:rgb(64, 186, 220);}
  60%  {color:rgb(8, 164, 166); }
  80% {color:rgb(233, 25, 205);}
  100% {color:rgb(236, 211, 223);}

 }