
.stupage{
  align-items: center;
  display: flex;
  justify-content: center;
  color:rgb(17, 13, 83);
}



.add {
  position: absolute; 
  left: 100px; 
  
  background-color: #140443; 
  color: #ebe5ed; 
  border: none;
  padding: 10px 20px; 
  border-radius: 5px; 
  font-size: 16px; 
  cursor: pointer; 
  }
  
  .add:hover {
    background-color: #2c0c7d; /* Darker color on hover */
  }

 