body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

table{
  width: 100%;
  padding-top: 20px;
}
th{
  height: 70px;
  text-align: center;
  background-color: #508fbcfc;
  color: white;
  border-bottom: 1px solid #ddd;
}

td{
  text-align: center;
  border-bottom: 1px solid #ddd;
}

button{
  background: var(--primary);
  border: 0;
  color: #284985;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
  margin: 10px;
  background-color: rgb(86, 184, 219);
  font-size: 20px;
}



button:hover {
  background-color: #4f8bec69;
}

h1,h2{
  padding-left: 10px;
}



